.header-nota {
    text-align: center;
}

.header-line {
    border: 1px solid black;
    width: 90%;
}

.header-container {
    text-align: left;
}

.logo-kemiri {
    height: 30px;
}

.kemiri-title {
    font-size: 25px;
}

.detail-perusahaan {
    font-size: 15px;
    padding-left: 7px;
}

.nomor-surat-container {
    text-align: center;
}

.nomor-surat {
    font-weight: lighter;
    font-size: 0.8rem;
}

table {
    text-align: center;
    font-size: 0.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

table td {
    word-wrap: break-word !important;
    white-space: normal !important;
}

.nomor-nota {
    font-weight: lighter;
    font-size: 0.8rem;
}

.lighter-text {
    font-weight: lighter;
}

.detail-extra, .detail-customer {
    text-align: left;
    font-size: 0.9rem;
}

.ttd-container {
    font-size: 1rem;
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

.staf-title {
    font-weight: lighter;
    font-size: 0.7rem;
}
