table {
    text-align: center;
    font-weight: 500;
}

.input-num-sm {
    width: 50%;
    text-align: center;
}

.select2-container .select2-selection--single {
    height: 2.5em !important;
    display: flex;
    align-items: center;
}

/* Disable arrow button pada input nomor telepon - Chrome, Safari, Edge, Opera */
.num-without-style::-webkit-outer-spin-button,
.num-without-style::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Disable arrow button pada input nomor telepon - Firefox */
.num-without-style {
  -moz-appearance: textfield;
}

.tombol-bulat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: none;
    /* box-shadow: 2px 2px 8px #888888; */
}

.tombol-bulat:hover {
    background-color: rgb(90, 8, 76) !important;
}

.judul-tabel {
    display: flex;
}

.judul-tabel button:hover {
    background-color: rgb(68, 8, 38) !important;
}

p {
    text-align: justify;
}

@media only screen and (max-width: 600px) {

    .judul-tabel {
        display: block;
    }

    .judul-tabel button {
        margin-top: 10px;
    }

}